.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.layout {
  margin: 24px auto;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 0px;
  }
}
